.menu {
    display: flex;
    margin: auto;
    padding: 3em;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    .menu {
        flex-flow: column wrap;
    }
}